extends layout 

block title 
    title #{title}

block content
    div.container
        div.row
            div.col.text-center
                h1 Hi #{name}
        .row
            .col.text-center
                a.btn(href="/add_person_chore") Add Chore
                a.btn(href="/viewChores") View Chores
                a.btn(href="/viewPoints") View Points 
        .row
            .col.text-center
                form.btn.form-registration(action="/logout?_method=DELETE" method="POST")
                    button.btn.btn-lg.btn-primary.btn-block(type="submit") Log Out
    .nav_bar
        
                

