extends layout 

block title 
    title #{title}

block content
    .nav_bar
            
        form.logout_form(action="/logout?_method=DELETE" method="POST")
            button.btn(type="submit") Log Out
    br
    .home_content 
        .links
            .container
                .row
                    .col-md-4(onclick="location.href='/add_person_chore';" style="cursor: pointer;")
                        .link.one
                            i.fa-solid.fa-circle-plus
                            h3 Add Chore
                    .col-md-4(onclick="location.href='/viewChores';" style="cursor: pointer;")
                        .link.two
                            i.fa-solid.fa-calendar-days
                            h3 View Chores
                    .col-md-4(onclick="location.href='/viewPoints';" style="cursor: pointer;")
                        .link.three
                            i.fa-solid.fa-circle-up
                            h3 View Points

