body {
    background-color:#fff;
    font-family: 'Sora', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
  }
.listing-reg h1 {
  text-align: center;
  margin: 0 0 2rem;
}

/* css for login and register*/

.title_div {
  background-color: #fff;
  font-family: "Bebas Neue";
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgb(213, 213, 213);
  
}

.title_div h1{
  padding: 5px;
  font-size: 4rem;
  letter-spacing: 45px;
  color:#2052d2;
  margin: 0;
}
.content_div {
  background-image: url(../assets/login_screen_photo.jpeg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.form{
  background-color:#fff;
  padding: 10px;
  border-radius: 25px;
  border: 1px gainsboro;
  padding: 10px;
  box-shadow: 0px 5px 5px lightgrey;
}

.form-registration {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-registration {
  display: flex;
  flex-wrap: wrap;
}
.form-registration input {
  width: 100%;
  margin: 0px 0 10px;
}
.form-registration .btn {
  flex: 1 0 100%;
}
.my-errors {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  color: #333;
  font-size: 1.2rem;
  display: table;
}
.my-errors li {
  margin: 0 0 1rem;
}
.my-errors li:before {
  content: "! Error : ";
  color: #f00;
  font-weight: bold;
}

/* Styles for home*/

.nav_bar {
  background-color: #2052d2;
  display: flex;
  width: 100%;
  color: #fff;
  font-size: 2rem;
  float: right;
}

.logout_form{
  margin-left: auto;
  display: inline;
  margin-bottom: 0;
  padding: 10px;
}

.home_content{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.links i{
  font-size: 120px;
  padding: 5px;
  margin: auto;
  color: #2052d2;
}

.links {
  display: flex;
  width: 100%;
}

.link {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: aliceblue;
  padding: 20px;
  margin: 5px;
  border-radius: 25px;
  font-size: 1.5rem;
}

.link:hover{
  background-color: rgb(126, 188, 243);
  
}

.link:hover i{
  color: white;
}



/* Styles for listing table */
.listing-table {
  width: 100%;
}
.listing-table th,
.listing-table td {
  padding: 10px;
  border-bottom: 1px solid #666;
}
.listing-table th {
  background: #000;
  color: #fff;
}
.listing-table td:first-child,
.listing-table th:first-child {
  border-right: 1px solid #666;
}
.curved th:first-of-type{
  border-top-left-radius: 10px;
}

.curved th:last-of-type {
  border-top-right-radius: 10px;
}
.curved tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 10px;
}
.curved tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 10px;
}


.padding {
  padding: 10px;
}

.margin {
  margin: 10px;
}